**/.venv/
**/.idea/
**/generated/
**/biked_commons.egg-info/
**/build/
**/__pycache__/
**/BikeCAD_17.1_configuration/
**/META-INF/
**/temp.jar
src/biked_commons/rendering/bikes/
src/resources/datasets/split_datasets/CLIP_X_train.csv
src/resources/datasets/split_datasets/CLIP_Y_train.npy
src/resources/bike_bench_rendering
src/resources/synthetic_data_rendering
src/biked_commons/benchmark_models/openai_files/generated_files/cond/csvs
src/biked_commons/benchmark_models/openai_files/generated_files/cond/raw
src/biked_commons/benchmark_models/openai_files/generated_files/uncond/csvs
src/biked_commons/benchmark_models/openai_files/generated_files/uncond/raw
src/biked_commons/benchmark_models/openai_files/generated_files_v0
src/biked_commons/benchmark_models/openai_files/api_key.txt
